<div class="beer-detail">
    <!-- Modal -->
    <div>
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title raleway" id="exampleModalCenterTitle">{{beerName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body roboto">
              <p>Category: {{beerCategory}}</p>
              <p>ABV: {{beerAbv === 0 ? 'No Information Available' : beerAbv}}</p>
              <p>{{beerDescription}}</p>
              <p>Date Created: {{beerCreateDate | date}}</p>
            </div>
            <div class="modal-footer roboto">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
